.alert-bar,
.alert.alert--warning.text--center {
    background: #fffae3;
    border: 1px solid #a18669;
    font-size: 10px;
    width: auto;
    padding: 10px 20px;
    box-shadow: inset 0 0 0 1px #fff;
}

.alert-bar__link {
    color: #564029;
    text-shadow: 1px 1px 0 #fff;
}
